<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
<meta name="keywords" content="三一网购" />
<meta name="description" content="三一网购" />


<link href="__STATIC__/common/css/index.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__STATIC__/common/js/function.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

 <title>推广二维码</title>

</head>
<body>
	<img alt="推广二维码" src="{$picurl}">

	
</body>
</html>