<extend name="Public/base"/>

<block name="body"> <!-- 标题栏 -->
    <div class="main-title">
        <h2>微信用户列表</h2>
    </div>
    <div class="cf">
        <div class="fl"></div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <select style='float: left' class="specialitem" name="specialitem">
                    <if condition="I('specialitem') eq '--'">
                        <option value="--" selected>所有项</option>
                        <else/>
                        <option value="--">所有项</option>
                    </if>
                    <if condition="I('specialitem') eq 'ismaster'">
                        <option value="ismaster" selected>庄家</option>
                        <else/>
                        <option value="ismaster">庄家</option>
                    </if>

                    <if condition="I('specialitem') eq 'ismerchant'">
                        <option value="ismerchant" selected>商家</option>
                        <else/>
                        <option value="ismerchant">商家</option>
                    </if>
                </select> <input type="text" name="nickname" class="search-input"
                                 value="{:I('nickname')}" placeholder="请输入用户昵称或者ID"> <a
                    class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i
                    class="btn-search"></i></a>

            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all"
                                                             type="checkbox"/></th>
                <th class="">操作</th>
                <th class="">用户ID</th>
                <th class="">微信昵称</th>
                <th class="">用户名称</th>
                <th class="">性别</th>
                <th class="">营收</th>
                <th class="">OpenID</th>

                <th class="">VIP号</th>
                <th class="">加入时间</th>
                <th class="">地区</th>

            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]"
                                   value="{$vo.userid}"/></td>
                        <td>
                            <eq name="vo.ismaster" value="0">
                                <a href="{:U('Tencent/masterSetOn?id='.$vo['userid'])}"
                                   class="confirm ajax-get">设置庄家</a>
                                <else/>
                                <a href="{:U('Tencent/masterSetOff?id='.$vo['userid'])}"
                                   class="confirm ajax-get">取消庄家</a>
                            </eq>
                            <eq name="vo.ismerchant" value="0">
                                <a href="{:U('Tencent/merchantSetOn?id='.$vo['userid'])}"
                                   class="confirm ajax-get">设置商户</a>
                                <else/>
                                <a href="{:U('Tencent/merchant?merchantid='.$vo['userid'])}">商户信息</a>
                                <a href="{:U('Tencent/merchantServiceList?merchantid='.$vo['userid'])}">商户服务</a>
                            </eq>
                            <a href="{:U('Tencent/roleList?userid='.$vo['userid'])}">角色</a>
                            <a href="{:U('Tencent/systemUserMatch?userid='.$vo['userid'])}">后台用户</a>
                        </td>
                        <td>{$vo.userid}</td>
                        <td>{$vo.weixinname}</td>
                        <td>{$vo.displayname}</td>
                        <td>{$vo.usersex_text}</td>
                        <td>{$vo.moneyamount}</td>
                        <td><a title="{$vo.weixinopenid}">显示</a></td>

                        <td>{$vo.vipid_text}</td>
                        <td><span>{$vo.jointime|time_format}</span></td>
                        <td><span>{$vo.usercountry} {$vo.userprovince}
						{$vo.usercity}</span></td>
                    </tr>
                </volist>
                <else/>
                <td colspan="10" class="text-center">aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">{$_page}</div>
</block>

<block name="script">
    <script
            src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script
            type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }

            var query = $('.search-form').find('.specialitem').serialize();
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }

            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        //highlightUrl= {:U('User/index')};
        $('.side-sub-menu').find('a[href="{:U('
        User / index
        ')}"]'
        ).closest('li').addClass('current');
    </script>
</block>
