<extend name="Public/base" />

<block name="body"> <!-- 标题栏 -->
<div class="main-title">
	<h2>微信用户列表1</h2>
</div>
<div class="cf">
	<div class="fl"></div>

	<!-- 高级搜索 -->
	<div class="search-form fr cf">
		<div class="sleft">
			<select style='float: left' class="specialitem" name="specialitem">
				<if condition="I('specialitem') eq '--'">
				<option value="--" selected>所有项</option>
				<else />
				<option value="--">所有项</option>
				</if>
				<if condition="I('specialitem') eq 'ismaster'">
				<option value="ismaster" selected>庄家</option>
				<else />
				<option value="ismaster">庄家</option>
				</if>

				<if condition="I('specialitem') eq 'ismerchant'">
				<option value="ismerchant" selected>商家</option>
				<else />
				<option value="ismerchant">商家</option>
				</if>
			</select> <input type="text" name="nickname" class="search-input"
				value="{:I('nickname')}" placeholder="请输入用户昵称或者ID"> <a
				class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i
				class="btn-search"></i></a>

		</div>
	</div>
</div>
<!-- 数据列表 -->
<div class="data-table table-striped">
	</div>
<div class="page">{$_page}</div>
</block>

<block name="script"> <script
	src="__STATIC__/thinkbox/jquery.thinkbox.js"></script> <script
	type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        
        var query = $('.search-form').find('.specialitem').serialize();
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
        
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('User/index')}"]').closest('li').addClass('current');
	</script> </block>
